*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(3, 34, 34);
  color: #FFF;
}

input,button{
  margin: 10px 2px;
}
img{
width: 80px;
height: 80px;
}
.btn-right{
  left: 0;
  position: relative;
}
.mb-1{
  line-break: anywhere;
  width: 85%;
}
